@font-face {
    font-family: "Gotham bold";
    src:url("../day 1/font/GothamBold.ttf");
}

body {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}

div {
    
    width: 718px;
    height: 419px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 172px;
}

h1 {
    font-family:"Gotham bold";
    font-size: 26px;
    margin-top: 40px;
    margin-left: 47px;
}

.emailtxt {
    font-family: "Gotham bold";
    font-size: 16px;
    margin-top: 96px;
    margin-left: 51px;
}

#email {
    width: 616px;
    height: 50px;
    margin-top: 5px;
    margin-left: 51px;
    border-radius: 10px;
    border-color: #E5E5E5
}

.password {
    font-family: "Gotham bold";
    font-size: 16px;
    margin-bottom: 18px;
    margin-left: 51px;
}

#pwd {
    width: 616px;
    height: 50px;
    margin-top: 5px;
    margin-left: 51px;
    border-radius: 10px;
    border-color: #E5E5E5;
}

.lostpwd {
    font-family: "Gotham bold";
    font-size: 15px;
    margin-top: 13px;
    margin-left: 51px;
    color: #0653AD;
}

a {
    color: #0653AD;
    text-decoration: none
}

.span1 {
    font-family: "Gotham bold";
    font-size: 15px;
    margin-left: 51px;
    margin-top: 44px;

}

.signup{
    font-family: "Gotham bold";
    font-size: 15px;
    color: #0653AD;
    
}

.submit {
    width:205px;
    height:47px;
    border-radius: 10px;
    background-color: #FFDD04;
    font-family: "Gotham bold";
    font-size: 16px;
    border-style: none;
    margin-left: 106px;

}